style
    include ./about.css
    include ./__text/__text.css
    include ./__gallery/__gallery.css

a(name="about")
.about
    .about__text
        include ../text/text.pug
    .about__gallery 
        include ../gallery/gallery.pug