style
    include ./form.css
    include ./__email/__email.css
    include ./__name/__name.css
    include ./__message/__message.css
    include ./__button/__button.css
    include ../title/title.css

form(method="POST" action="https://formspree.io/f/mwkalwwk" class="form")
    .title Отправьте мне сообщение
    input(placeholder="Ваш Email" type="email" name="email" class="form__email")
    input(placeholder="Ваше имя" name="name" class="form__name")
    textarea(name="message" placeholder="Ваше сообщение" class="form__message" rows="3")
    button(type="submit" class="form__button") Отправить
