.form{
    width: 450px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 10%;
}

@media (max-width: 1500px){
    .form{
        font-size: 12px;
        width: 400px;
    }
}