style
    include ./wave-down.css
//- from https://getwaves.io/
svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 160")
    path(class='wave-down' fill-opacity="1" d="M0,160L60,133.3C120,107,240,53,360,42.7C480,32,600,64,720,85.3C840,107,960,117,1080,112C1200,107,1320,85,1380,74.7L1440,64L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z")