@import "~normalize.css";

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
  }

body {
	overflow: auto;
	position: relative;
	background: rgba(190, 184, 184, 0.5);
}

.wrapper {
	position: absolute;
	min-height: 100vh; 
	width: 80%;
	max-width: 1500px;
	display: grid; 
	grid-template-rows: auto 1fr auto;
	left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
	background: #072929;
	cursor: url('../media/images/cursor.png'), pointer;
}
