@media (max-width: 1500px){

    .header {
        height: 150px;
    }
    
    .logo {
        text-align: center;
    }

    .menu{
        line-height: 70px;
        margin: 0;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
    }
}

@media (max-width: 840px){

    .header {
        height: 100px;
        box-shadow: 0 0 10px rgba(190, 184, 184, 0.5);
        text-shadow: 1px 1px 2px #072929, 8px 6px 1px rgba(190, 184, 184, 0.5);
    }

    .logo {
        font-size: 45px;
    }

    .menu {
        line-height: 70px;
        margin: 0;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
        width: 480px;
    }

    .item {
        font-size: 16px;
    }
}

@media (max-width: 680px){
    .item {
        
    }
}
    

@media (max-width: 450px){

    .header {
        box-shadow: 0 0 10px rgba(190, 184, 184, 0.5);
        text-shadow: 1px 1px 2px #072929, 8px 6px 1px rgba(190, 184, 184, 0.5);
    }

    .logo {
        font-size: 25px;
    }
}
