@media (min-width: 1500px){
    .navicon{
        
    }
}

@media (max-width: 1500px){

    .header {
        height: 150px;
    }
    
    .logo {
        text-align: center;
    }

    .menu{
        line-height: 70px;
        margin: 0;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
    }

    .navicon{
        
    }
}

@media (max-width: 840px){

    .header {
        height: 100px;
        text-shadow: 1px 1px 2px #072929, 8px 6px 1px var(--light_primary-color);
    }

    .logo {
        font-size: 45px;
    }

    .menu {
        line-height: 70px;
        margin: 0;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0);
        width: 580px;
    }

    .item {
        font-size: 16px;
    }

    .navicon{
        
    }
}

@media (max-width: 680px){
    .navicon{
        color: var(--light_primary-color);
    }

    .menu{
        visibility: hidden;
        width: 200px;
        left: 110px;
    }

    .menu__row {
        float: none;
    }

    .header{
        height: 50px;
    }
}
    

@media (max-width: 500px){

    .navicon{
        color: var(--light_primary-color);
    }

    .header {
        text-shadow: 1px 1px 2px #122907, 3px 3px 1px var(--light_primary-color);
        height: 50px;
    }

    .logo {
        font-size: 25px;
    }
}
