extends ../base.pug
block content

    include ../../common.blocks/home/home.pug
    include ../../common.blocks/about/about.pug
    include ../../common.blocks/wave-up/wave-up.pug
    include ../../common.blocks/tech/tech.pug
    include ../../common.blocks/wave-down/wave-down.pug
    include ../../common.blocks/portfolio/portfolio.pug
    include ../../common.blocks/contacts/contacts.pug