style
    include ./tech.css

.tech
    a(name="tech")
    .tech__wrap
        .tech__webpack
        .tech__bem 
        .tech__fancybox 
        .tech__figma 
        .tech__trio 
        .tech__grid 
        .tech__pug 
        .tech__responsive 
        .tech__vscode