.tech{
    width: 100%;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
}

.tech__wrap{
    display: grid;
    width: 760px;
    height: 525px;
    margin: 20px;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px;
}

.scale {
    display: inline-block;
    overflow: hidden;
}

.scale img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

.tech__pug{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 3;
}

.tech__bem{
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 6;
}

.tech__fancybox{
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 4;
}

.tech__figma{
    grid-row-start: 5;
    grid-column-start: 4;
    grid-row-end: 9;
    grid-column-end: 6;
}

.tech__trio{
    grid-row-start: 5;
    grid-column-start: 6;
    grid-row-end: 8;
    grid-column-end: 9;
}

.tech__grid{
    grid-row-start: 9;
    grid-column-start: 4;
    grid-row-end: 12;
    grid-column-end: 7;
}

.tech__webpack {
    grid-row-start: 9;
    grid-column-start: 1;
    grid-row-end: 12;
    grid-column-end: 4;
}

.tech__responsive {
    grid-row-start: 1;
    grid-column-start: 6;
    grid-row-end: 4;
    grid-column-end: 9;
}

.tech__vscode{
    grid-row-start: 8;
    grid-column-start: 7;
    grid-row-end: 12;
    grid-column-end: 9;
}

@media (max-width: 840px){
    .tech__wrap{
        width: 380px;
        height: 262px;
    }
}