style
    include ./text.css
    include ./__hi/__hi.css
    include ./__why/__why.css
    include ./__first/__first.css
    include ./__second/__second.css
    include ./__third/__third.css
    include ./__about/__about.css

.text 
    .text__hi Привет! Я Николай, Front End Developer, специализирующийся на написнии чистого, элегантного и эффективного кода.
    .text__why Я верстаю сайты. Зачем? 
    .text__first Во-первых, мне это интересно. Ведь технологии не стоят на месте. Они гонятся за запросами Заказчика. Отслеживать эту гонку всегда здорово. Ещё лучше в ней участвовать. 
    .text__second Во-вторых, мне нравится превращать сложные задачи в простые, красивые и интуитивно понятные конструкции.
    .text__third А в-третьих, профессия верстальщика делает мою жизнь независимой от места работы. Я люблю путешествовать. Мой офис там, где есть интернет, - под любой пальмой, в любом городе.
    .text__about Мне 35 лет. Кроме вёрстки увлекаюсь автомобилями. На своём авто я объехал всю Россию и Монголию. Люблю велосипеды - весь Дальний Восток, Южная Корея. А шагать пешком ещё лучше - за спиной ноут, спальник. На груди фотоаппарат. А впереди все тропинки мира!