style
    include ./home.css
    include ./__hi/__hi.css
    include ./__im/__im.css
    include ./__spec/__spec.css
    


.home
    .home__bgrd 
    .home__hi Привет! 
    .home__im Я Николай, Front End Developer,
    .home__spec специализирующийся на написании чистого, элегантного и эффективного кода.
    