.home{
    width: 100%;
    line-height: 0 !important;
    position: relative;
    z-index: 100;
}

.home__bgrd{
    background: url(media/images/bgrd.jpg);
    background-size: cover;
    background-position: center 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 850px;

    display: block;
    overflow: hidden;
    z-index: 1;
    opacity: .4;
}

@media (max-width: 1500px){
    .home__bgrd{
        height: 650px;
    }
}

@media (max-width: 840px){
    .home__bgrd{
        height: 450px;
        
    }

    .home__bgrd{
        background: url(media/images/bgrd840.jpg);
    }
}
