mixin slide__item(number)
    .slider__item
        div(style="padding: 5px;")
            a(data-fancybox="gallery" class="photo" href=`./media/images/gallery/${number}.jpg`)
                img(src=`./media/images/gallery/icons/${number}.png`)