mixin slide__item(number)
    .slider__item
        div(style="margin: 5px; line-height: 0; overflow: hidden;")
            a(data-fancybox="gallery" href=`./media/images/gallery/${number}.jpg`)
                img(src=`./media/images/gallery/icons/${number}.png` class='scaleGallery')