style
    include ./header.css
    include ./__hover/__hover.css
    include ./__menu/__menu.css
    include ../../styles/media.css

.header 
    include ../logo/logo.pug
    .header__menu
        include ../menu/menu.pug
    include ../navicon/navicon.pug
