style
    include ./slider.css

include ./__item/__item.pug 

.slider
    .slider__container
        .slider__wrapper
            .slider__items
                each number in Array.apply(null, {length: 25}).map(Number.call, Number)
                    +slide__item(number)
                
    a(href="#" class="slider__control" data-slide="prev")
    a(href="#" class="slider__control" data-slide="next")
