style
    include ./slider.css

include ./__item/__item.pug 

.slider
    <div class="slider__container">
        <div class="slider__wrapper">
            <div class="slider__items">
                +slide__item(1)
                +slide__item(4)
                +slide__item(5)
                +slide__item(6)
                +slide__item(8)
                +slide__item(9)
                +slide__item(10)
                +slide__item(11)
                +slide__item(13)
                +slide__item(14)
                +slide__item(15)
                +slide__item(16)
                +slide__item(19)
                +slide__item(20)
                +slide__item(21)
                +slide__item(22)
                +slide__item(23)
                +slide__item(24)
                +slide__item(25)
                +slide__item(26)
                +slide__item(27)
                +slide__item(28)
                +slide__item(29)
                +slide__item(30)
                +slide__item(31)
            </div>
        </div>
    </div>
    <!-- Кнопки для перехода к предыдущему и следующему слайду -->
    <a href="#" class="slider__control" data-slide="prev"></a>
    <a href="#" class="slider__control" data-slide="next"></a>
</div>