style
    include ./menu.css
    include ../../styles/media.css
    include ./__row/__row.css

include ../item/item.pug

.menu
    +item('контакты', '#contacts')(class='menu__row')
    +item('мои работы |', '#portfolio')(class='menu__row')
    +item('мои технологии |', '#tech')(class='menu__row')
    +item('обо мне |', '#about')(class='menu__row')
    +item('главная |', '#home')(class='menu__row')